<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    <script src="{{url_for('static', filename='js/home.js')}}" defer></script>
    <title>Amapá Zombies</title>
</head>
<body>
    <header class="header">
        <div class="menu-btn" id="menu-btn">
            ☰
        </div>
        <h1 class="site-title">Amapá Zombies</h1>
    </header>

    <main>
        Hello World!
    </main>
</body>
</html>