<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.jpg') }}">
<title>Site Fora do Ar - APZM</title>
<style>
  body { display:flex; justify-content:center; align-items:center; height:100vh; background:darkgreen; color:#fff; font-family:sans-serif; text-align:center;}
  h1 { font-size:2rem; margin-bottom:1rem;}
  p { font-size:1.2rem;}
  .logo { max-width: 300px; width: 50%; height: auto; margin-bottom: 30px;}
</style>
</head>
<body>
  <div>
    <img src="{{ url_for('static', filename='images/common/amapazombies-trans.png') }}" alt="Amapá Zombies Logo" class="logo">
    <h1>😴 Site Fora do Ar</h1>
    <p>Estamos realizando manutenção. Volte em breve!</p>
  </div>
</body>
</html>
